# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out
/tools
/DMP


# python cache
__pycache__/
*.py[cod]

# Webots local UI state
webots/worlds/.*.wbproj
!webots/worlds/.ss928_car.wbproj

# eide template
*.ept
*.eide-template
